* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #04107c81;
  color: #1102017c;
}

/* 
What happens when we set the display property to flex?
The flex container becomes flexible 
*/
nav {
  display: flex;
  background-color: #054683a8;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
What is the flex-wrap property?
It specifies whether the flex items should wrap or not 
*/
main {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

aside {
  flex: 1;
  background-color: #6353f3;
  padding: 80px;
  text-align: center;
}

footer {
  padding: 20px;
  text-align: center;
  background: #f4f6f8;
  color: #050505;
}


.products {
  flex: 4;
  background-color: #4a57c798;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 30px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
  height: 65%;
}



@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
